language: python
python:
  - 2.7
  - 3.4
  - 3.5
env:
  - DJANGO=1.8.14
  - DJANGO=1.9.9
  - DJANGO=1.10
install:
  - pip install -q Django==$DJANGO
  - pip install .
script:
  - python manage.py test geoposition
