language: python
python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5
env:
  - DJANGO=1.8
  - DJANGO=1.9
  - DJANGO=1.10b1
install:
  - pip install -q Django==$DJANGO --use-mirrors
  - pip install . --use-mirrors
script:
  - python manage.py test geoposition
matrix:
  exclude:
    # Django doesn't support following combinations
    - python: 3.3
      env: DJANGO=1.9
    - python: 3.4
      env: DJANGO=1.9
    - python: 3.3
      env: DJANGO=1.10b1
    - python: 3.4
      env: DJANGO=1.10b1
