<div
    class="geoposition-widget"
    data-map-widget-height="{{ config.map_widget_height }}"
    data-map-options="{{ config.map_options }}"
    data-marker-options="{{ config.marker_options }}">
    <div>
        <label class="{{ latitude.required }}">{{ latitude.label|capfirst }}:</label>
        {{ latitude.html }}
    </div>
    <div>
        <label class="{{ latitude.required }}">{{longitude.label|capfirst}}:</label>
        {{ longitude.html }}
    </div>
    <div class="{{ elevation.hidden }}">
        <label class="{{ elevation.required }}">{{elevation.label|capfirst}}:</label>
        {{ elevation.html }}
    </div>
</div>
