<div class="geoposition-widget" data-map-widget-height="{{ widget.config.map_widget_height }}" data-map-options="{{ widget.config.map_options }}" data-marker-options="{{ widget.config.marker_options }}">
    <table>
        <tr>
            <td>{{ widget.latitude.label|capfirst }}</td>
            <td>{{ widget.latitude.html }}</td>
        </tr>
        <tr>
            <td>{{ widget.longitude.label|capfirst }}</td>
            <td>{{ widget.longitude.html }}</td>
        </tr>
    </table>
</div>
