*:focus{
    outline: none!important;
}

p.geoposition-widget,
table.geoposition-widget,
ol.geoposition-widget
ul.geoposition-widget {
    overflow: hidden;
}

.geoposition-widget input.geoposition{
    margin-left: 5px;
    margin-bottom: 4px;
}

.geoposition-map-wrapper {
    position: relative;
    border-radius: 5px;
    margin: 6px 0;
    overflow: hidden;
    border: 1px solid #ccc;
}

.geoposition-map-wrapper .geoposition-map {
    position: relative;
    clear: both;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px solid #ccc;
}

.geoposition-map-wrapper input[type=search]{
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px 6px;
    margin-top: 0;
    width: 100%;
    margin: 0;
}


.geoposition-address {
    text-align: left;
    padding: 5.5px 8px;
}

.geoposition-results {
    position: absolute;
    z-index: 1;
    margin: 0!important;
    padding: 0 !important;
    background: white;
    border: 1px solid #eee;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.geoposition-results li {
    list-style: none;
    padding: 4px 8px;
    border-top: 1px solid #eee;
    cursor: pointer;
    width: 100%;
}

.geoposition-results li:hover {
    background-color: #eee;
}

.geoposition-results li:first-child {
    border-top: 0;
}
